<!DOCTYPE html>
<html lang="ru">
<head>
  <%- include('partials/head') %>
  <title><%= title || 'О нас - Талион Империал' %></title>
</head>
<body>
  <%- include('partials/header') %>

  <main>
    <section id="about">
      <div class="container">
        <h2>О нас</h2>
        <p>
          «Талион Империал Отель» расположен в историческом особняке в самом центре Санкт-Петербурга.<br><br>

          Три здания, которые объединяет отель – на Невском проспекте, набережной реки Мойки и Большой Морской улице – до революции принадлежали представителям династии Елисеевых. Здесь сохранились элементы интерьеров XIX века и великолепная атмосфера особняка.<br><br>

          В отеле 89 номеров различных категорий: от базового Классического до роскошного Люкса Императора. Талион Империал Отель – единственный отель, который предлагает гостям остановиться в подлинной исторической комнате: гостиная и спальня Люкса Елисеевский в начале XIX века были будуаром Варвары Сергеевны Елисеевой.<br><br>

          В номерах базовой категории Классический без вида с площадью 25 кв.м. есть всё для комфортного отдыха, в том числе двуспальная кровать размера «king-size» или две раздельные односпальные кровати, а также просторная ванная комната с набором косметических средств. В более высоких категориях есть двухкомнатные номера. Номера с видом на город выходят на Невский проспект, набережную реки Мойки или Большую Морскую улицу. На пятом этаже есть номера с балконами и видом на крыши Санкт-Петербурга.<br><br>

          Каждый номер имеет индивидуальный дизайн и меблирован гарнитурами лучших фабрик Европы, в том числе предметами антиквариата.<br><br>

          Завтрак в формате «шведский стол» накрывается ежедневно в кафе Атриум. Гостям предлагается приветственный бокал игристого вина и широкий выбор блюд: сырная и мясная нарезки, красная рыба собственного посола, красная икра, каши, мюсли, йогурты, свежая выпечка, блюда из яиц, свежевыжатые соки (морковный и сельдереевый), чай, кофе.<br><br>

          СПА-зона с большим бассейном под стеклянным куполом располагает к отдыху и релаксации. Посещение бассейна, сауны и тренажёрного зала входит в стоимость проживания. Посещение СПА-комплекса после 18ч возможно только для гостей старше 12 лет.<br><br>

          За дополнительную плату можно арендовать комплекс Баня Елисеева с бассейном, русской парной, «сеновалом», купелью и хаммамом.<br><br>

          На 6-м этаже расположен ресторан Виктория. С летней террасы ресторана открывается панорамный вид на исторический центр Санкт-Петербурга и купол Казанского собора. В меню блюда русской и европейской кухни. Ресторан открыт до 23 ч.<br><br>

          Room-Service к услугам гостей круглосуточно.<br><br>

          Wi-Fi на территории отеля предоставляется комплиментарно.<br><br>

          Уникальные интерьеры и элегантная обстановка исторических парадных залов и гостиных позволяют создать в Талион Империал Отеле особые условия не только для проживания гостей, но и для проведения мероприятий любого масштаба.
        </p>
    </div>
    </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/modal') %>
<%- include('partials/scripts') %>
</body>
</html>