<!DOCTYPE html>
<html lang="ru">
<head>
<%- include('partials/head') %>
<title><%= title || 'Контакты - Талион Империал' %></title>
</head>
<body>
<%- include('partials/header') %>

<main>
    <section id="contact">
    <div class="container">
        <h2>Контакты</h2>
        <p>191186, Россия, г. Санкт-Петербург, Невский проспект, 15</p>
    </div>
    </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/modal') %>
<%- include('partials/scripts') %>
</body>
</html>