<!DOCTYPE html>
<html lang="ru">
<head>
<%- include('partials/head') %>
<title><%= title || 'Услуги - Талион Империал' %></title>
</head>
<body>
<%- include('partials/header') %>

<main>
    <section id="services">
    <div class="container">
        <h2>Услуги</h2>
        <p>Предоставляемые услуги: спа, ресторан, бассейн и другие...</p>
        
    </div>
    </section>
</main>

<%- include('partials/footer') %>
<%- include('partials/modal') %>
<%- include('partials/scripts') %>
</body>
</html>